<%= @current_student.first_name %> <%= @current_student.last_name %>


<p><%= link_to "View your teachers", student_teachers_path(@current_student) %></p>
<p><%= link_to "View your library", student_programs_path(@current_student) %></p>
<p><%= link_to "View all programs", programs_path %></p>
