<p>Hi, <%= @student.first_name %> <%= @student.last_name %></p>

<p>Glad to see you back!</p>

<p> <%= link_to "View Your Programs", student_programs_path(@student) %> </p>

<p> <%= link_to "View Your Teacher", student_teachers_path(@student) %> </p>

<p> <%= link_to "Logout", students_logout_path %> </p>




