<p>Hi, <%= @student.first_name %> <%= @student.last_name %></p>

<p>Glad to see you back!</p>

<p> <%= %> </p>
<p> <%= %> </p>
<p> <%= %> </p>
<p> <%= link_to "Logout", students_logout_path %> </p>




