<p>Hi, <%= @student.first_name %> <%= @student.last_name %></p>

<p>Glad to see you back!</p>

<p>Favorited Programs:<p>

<%= render partial: 'programs/programs', locals: {programs: @student.favorite_programs } %>

<p> <%= link_to "View Your Programs", student_programs_path(@student) %> </p>

<p> <%= link_to "View Your Teachers", student_teachers_path(@student) %> </p>

<p> <%= link_to "View All Programs", programs_path %> </p>

<p> <%= link_to "Logout", students_logout_path %> </p>




