<% programs.each do |program| %>
    <p>
        <strong><%= link_to program.name, program_path(program) %></strong><br>
        <%= program.description %><br>

        By: <%= link_to "#{program.teacher.first_name} "  "#{program.teacher.last_name}", teacher_path(program.teacher) %><br>
        <% if current_student.has_program?(program) %>
            <%= render partial: 'favoriting_links', locals: {program: program} %>
            <%= render partial: 'update_library_links', locals: {program: program} %>
        <% elsif !current_student.has_program?(program) %>
            <%= render partial: 'update_library_links', locals: {program: program}%>
        <% end %>

    </p>
<% end %>

if student has the program 
    render the favoriting links (conditional)
    and the add program links (conditional)
if the student doesn't have the program
    render only the add programs link 
end