<% programs.each do |program| %>
    <p>
        <strong><%= link_to program.name, program_path(program) %></strong><br>
        <%= program.description %><br>

        By: <%= link_to "#{program.teacher.first_name} "  "#{program.teacher.last_name}", teacher_path(program.teacher) %><br>
        
        <% if current_student.has_program?(program) %>
            <%= render partial: 'programs/favoriting_links', locals: {program: program} %>
            <%= render partial: 'programs/update_library_links', locals: {program: program} %>
        <% elsif !current_student.has_program?(program) %>
            <%= render partial: 'programs/update_library_links', locals: {program: program}%>
        <% end %>

    </p>
<% end %>
