<% @programs.each do |program| %>
    <p>
        <h4><%= program.name %></h4><br>
        <%= program.description %><br>
        By: <%= program.teacher.first_name %> <%= program.teacher.last_name %><br>
        
    </p>
<% end %>

    <% if @current_teacher %>
        <%= link_to "Create a new Program", new_program_path %><br>
        <%= link_to "Back to profile page", teacher_path(@current_teacher) %>
    <% end %>

