<h2><%= @program.name %> by: <%= @program.teacher.first_name %> <%= @program.teacher.last_name %></h2>
<h3><%= @program.description %></h3>

<h4> Videos </h4>

<% @videos.each do |video| %>
    <p>
        <li>Title: <%= video.title %></li>
        <li>Description: <%= video.description %></li>
        <li>Duration: <%= video.duration %> min </li>
    </p>
<% end %>

<% if @current_student %>
  <%= form_tag('/library_items') do %>
    <input name="library_item[program_id]" type="hidden" id="library_item_program_id" value="<%= @program.id %>"><br>

    <input type="submit" value='Add this program to your library'>
   <% end %>
<% end %>

<% if @current_teacher %>
  <%= link_to "Back to your programs", teacher_programs_path(@current_teacher)%>
  <%= link_to "Edit Program", edit_teacher_program_path(@current_teacher, @program)%>
<% end %>

