<h3>Teacher info section:</h3>

<h2>Teacher Name: <%= @current_teacher.first_name %> <%= @current_teacher.last_name %></h2>
<br>
<h3>Bio: <%= @current_teacher.bio %></h3>
<br>
<h3>Email: <%= @current_teacher.email %></h3>


<h2>Your programs:</h2>
<%= render partial: 'programs/programs', locals: {programs: @current_teacher.programs} %>

<p><%= link_to "View your programs", teacher_programs_path(@current_teacher) %> </p>
<p><%= link_to "View all programs", programs_path %></p>
<p><%= link_to "View all your videos", teacher_videos_path(@current_teacher) %></p>


<p> <%= link_to "Logout", teachers_logout_path %> </p>
