<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> Yoga Sessions </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a class="nav-link" href="<%= student_path(current_student) %>">Profile</a>
        </li>

        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Programs
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= programs_path %>">All Programs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= student_programs_path(current_student)%>">Your Programs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Teachers
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="<%= teachers_path %>">All Teachers</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%= student_teachers_path(current_student)%>">Your Teachers</a>
            </div>
        </li>

         <li class="nav-item active">
            <a class="btn btn-outline-primary" href="<%= students_logout_path %>">Logout</a>
        </li>

      </ul>
    </div>

  </nav>

  