<!DOCTYPE html>
<html>
  <head>
    <title>YogaSessions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% flash.each do |name, msg| -%>
     <%= content_tag :div, msg, class: "#{name} alert alert-info", role: alert %>
  <% end %>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" > Navbar </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="<%= new_student_registration_path %>">Signup</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="<%= students_login_path %>">Login</a>
        </li>

      </ul>
    </div>

  </nav>


    <%= yield %>

  </body>

</html>
