<!DOCTYPE html>
<html>
  <head>
    <title>YogaSessions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h3>Yoga Sessions</h3>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <!-- <% flash.each do |name, msg| %>
     <%= content_tag :div, msg, class: name %>
   <% end %> -->

    <%= yield %>
  </body>
</html>
